body {
  font-family: 'Graphik';
  font: 18px/28px;
  color: #000;
}

.navbar {
  font-weight: 300;
  padding: 15px 120px;
  border-bottom: 1px solid #e8e8e8;
}

.logo {
  display: inline;
  padding-right: 40px;
}

.nav-link {
  display: inline;
  padding: 0px 20px;
}

.right-bar {
  float: right;
  color: gray;
}

.headline-container {
  display: flex;
}

h1 {
  font: 32px/37px;
  font-weight: 300;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 50px 0px;
}

.first-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-box-left {
  margin-left: 5%;
  margin-right: 5%;
}

.first-box-right {
  margin-left: 5%;
  margin-right: 5%;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.eligibility {
  color: #4EAE87;
}
