body {
  font-family: 'Graphik';
  font: 18px/28px;
  color: #000;
}

.navbar {
  font-weight: 300;
  padding: 15px 120px;
  border-bottom: 1px solid #e8e8e8;
}

.logo {
  display: inline;
  padding-right: 40px;
}

.nav-link {
  display: inline;
  padding: 0px 20px;
}

.right-bar {
  float: right;
  color: gray;
}

.headline-container {
  display: flex;
}

h1 {
  font: 32px/37px;
  font-weight: 300;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 50px 0px;
}

.first-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0px;
}

.first-box-left {
  margin-left: 5%;
  margin-right: 5%;
  width: 34%;
}

.first-box-right {
  margin-left: 5%;
  margin-right: 5%;
  width: 66%;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}

.eligibility {
  color: #4EAE87;
  padding: 20px 0px;
}

.second-box {
  display: flex;
  justify-content: center;
  margin: 70px 0px;
}

.second-box-left {
  margin-left: 5%;
  margin-right: 5%;
  width: 66%;
}

.second-box-right {
  margin-left: 5%;
  margin-right: 5%;
  width: 34%;
}

h2 {
  font: 24px/30px;
  font-weight: 600;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 50px 0px;
}

.check {
  background-color: #F8F8F8;
  width: 100%;
  text-align: center;
}

.logo-row {
  display: flex;
  justify-content: center;
}

.logo-box {
  background-color: #fff;
  border: 1px #e8e8e8 solid;
  width: 15%;
  padding: 75px;
  margin: 20px;
  /* round the corners */
}

.footer {
  background-color: #48CCDF;
  display: flex;
  justify-content: center;
}

.contact-box {

}
